<!DOCTYPE html>
<html lang="pt-br">
<head>
    <title><%= title %></title>
    <%- include('../../partials/meta')%>
</head>
<body>
<nav class="nav">
    <div class="nav__container">
        <a href="/">
        <img src="/imagens/logo-horizontal.svg" alt="Logotipo">
        </a>
    </div>
</nav>
<h1><%= title %></h1>
<script src="/javascript/teste.js"></script>
</body>
</html>
