<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Checkout - Escolher Endereço de Entrega</title>
</head>

<%- include('partials/nav-cliente') %>
<h1>Endereço de Entrega</h1>
<label for="selecionar-endereco">Escolha um Endereço</label>
<select name></select>
</html>
