<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Login de Clientes</title>
    <link rel="stylesheet" href="/css/estilos-navegacao.css">
    <link rel="stylesheet" href="/css/estilos-cadastro_cliente.css">
</head>
<body>
<%- include('partials/nav-cliente') %>

<h1>Pagina do cliente</h1>
</body>
</html>