<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/css/estilos-navegacao.css">
</head>
<body>

<!-- Barra de Navegação -->
<nav class="navBarra">
    <a href="/" class="logoNavegacao">
        <img src="/imagens/logo-horizontal.svg" alt="Logo do site">
    </a>
    <div class="linksNavegacao">
        <a href="/backoffice/auth/">Acessar Backoffice</a>
    </div>
</nav>
</body>
</html>
