<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Login de Clientes</title>
    <link rel="stylesheet" href="/css/estilos-navegacao.css">
</head>
<body>
<%- include('partials/nav-user') %>
<main class="main">
    <h1>Login</h1>
</main>
</body>
</html>