.mainss {
    border: 1px solid blue;
    max-width: 734px;
    margin: 0 auto;
}

.formsss {
    border: 1px solid red;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.fieldsetss {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.fieldset__item {
    display: flex;
    flex-direction: column;
}