* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    display: block;
}

.conteudo {
    max-width: 960px;
    margin: 2rem auto;
    padding: 0 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

/* Título */
.titulo-principal {
    font-family: "Barlow Condensed", sans-serif;
    font-weight: 800;
    font-size: 61px;
    color: #313131;
}

.titulo-secundario {
    font-family: "Barlow Condensed", sans-serif;
    font-weight: 600;
    font-size: 1rem;
    color: #313131;

}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}