.header {
    background-color: #313131;
    padding: 1rem;
}

.header__nav {
    display: flex;
    justify-content: space-between;
    max-width: 960px;
    margin: 0 auto;
    align-items: center;
}

.nav__logo img {
    display: block;
}

.nav__list {
    display: flex;
    gap: 1rem;
    list-style: none;
}

.nav__item {
    display: flex;
    gap: 1rem;
}

.nav__link {
    padding: 0.5rem 1rem;
    display: flex;
    border-bottom: 2px solid transparent;
    font-family: "Open Sans", sans-serif;
    font-size: 1rem;
    font-weight: 600;
    text-decoration: none;
    color: #FFFFFF;
}

.nav__link:hover {
    border-bottom: 2px solid #FFFFFF;
}

.carrinho {
    background-color: #FFFFFF;
    border-radius: 2rem;
    font-size: 1rem;
    font-weight: 700;
    color: #313131;
    text-decoration: none;
    font-family: "Open Sans", sans-serif;
    display: flex;
    gap: 0.5rem;
    align-items: center;
    padding: 0.5rem 1rem;
}

.carrinho:hover {
    background-color: #E6E6E6;
}

.carrinho__icon {
    width: 1.5rem;
    display: block;
}