:root {
    /* 🌟 Cores Primárias */
    --cor-primaria-500: #007DFC;
    --cor-primaria-700: #0070E0;

    /* 🔴 Cores de Erro */
    --suporte-erro-300: #F04251;
    --suporte-erro-800: #AA0E1B;

    /* 🟡 Cores de Aviso */
    --suporte-aviso-300: #F7C23B;
    --suporte-aviso-800: #B08007;

    /* 🟢 Cores de Sucesso */
    --suporte-sucesso-300: #4CAF50;
    --suporte-sucesso-700: #2E7D32;

    /* 🎨 Cores Neutras */
    --cor-branca: #FFFFFF;
    --cor-preta: #212529;
    --cor-cinza-300: #F1F3F5;
    --cor-cinza-600: #6C757D;
    --cor-cinza-900: #343A40;

    /* 🔤 Tipografia */
    --fonte-primaria: "Open Sans", sans-serif;
    --fonte-secundaria: "Bitter", serif;

    /* 📏 Tamanhos de Fonte */
    --fonte-tamanho-padrao: 1rem;
    --fonte-tamanho-pequeno: 0.8rem;
    --fonte-tamanho-grande: 3.052rem;

    /* 💪 Pesos da Fonte */
    --fonte-peso-regular: 400;
    --fonte-peso-bold: 700;
    --fonte-peso-extrabold: 800;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: palegreen;
}

img {
    display: block;
}
