<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title><%= title %></title>
</head>
<body>
<h1>Administrador</h1>
<p>Bem-vindo, <strong><%= colaborador %></strong>!</p>
<p>Cargo ID: <strong><%= cargo_id %></strong></p>
<a href="/backoffice/administrador/listar-colaboradores">Listar Colaboradores</a>
<a href="/backoffice/administrador/listar-produtos">Listar Produtos</a>
</body>
</html>
