<!DOCTYPE html>
<html>
<head>
    <%- include('../partials/meta') %>
    <title><%= title %></title>
</head>
<body>
<%- include('../partials/nav-adm') %>

<h1 class="header"><%= title %></h1>
</body>
</html>
