<footer class="footer">
    <div class="footer__container">
        <ul class="footer__list">
            <li class="footer__item"><a href="/" class="footer__link">Home</a></li>
            <li class="footer__item"><a href="/clientes/login" class="footer__link">Login</a></li>
            <li class="footer__item"><a href="/clientes/cadastro" class="footer__link">Cadastro</a></li>
            <li class="footer__item"><a href="/clientes/carrinho" class="footer__link">Carrinho</a></li>
            <li class="footer__item"><a href="/backoffice/auth" class="footer__link">Acessar Backoffice</a></li>
        </ul>
        <p class="footer__copyright">
            &copy; ADSSJ 2025 PI - Desenvolvimento de Sistemas Web.
        </p>
    </div>
</footer>