<div id="confirmationModal" class="modal">
    <div class="modal-content">
        <p id="modalMessage"></p>
        <div class="modal-buttons">
            <button id="confirmButton">Confirmar</button>
            <button id="cancelButton">Cancelar</button>
        </div>
    </div>
</div>