<link rel="stylesheet" href="/css/nav-empregado.css">
<nav class="nav-empregado">
    <div class="nav--container">
        <a href="/backoffice/home-adm">
            <img src="/imagens/logo-horizontal.svg" alt="Logotipo">
        </a>
        <div class="nav-links">
            <a href="/backoffice/listar-produtos" class="link-nav">Listar Produtos</a>
            <a href="/backoffice/listar-usuarios" class="link-nav">Listar Usuários</a>
        </div>
    </div>
</nav>