<nav class="navBarra">
    <!-- Logo -->
    <a href="/" class="logoNavegacao">
        <img src="/imagens/logo-horizontal.svg" alt="Logo do site">
    </a>

    <!-- Links de Navegação -->
    <div class="linksNavegacao">
        <a href="/clientes/carrinho" class="carrinhoLink">
        <img src="/imagens/icone-carrinho.svg" alt="Carrinho de Compras" class="iconeCarrinho">
        </a>

        <a href="#" class="loginLink">Login</a>

        <a href="/backoffice/auth/">Acessar Backoffice</a>
    </div>
</nav>