<div class="header">
    <nav class="header__nav">
        <a href="/" class="nav__logo">
            <img src="/imagens/logo-horizontal.svg" alt="Logo do site" />
        </a>
        <ul class="nav__list">
            <li class="nav__item">
                <a href="/clientes/cadastro" class="nav__link">Cadastre-se</a>
            </li>
            <li class="nav__item">
                <a href="/clientes/login" class="nav__link">Login</a>
            </li>
            <li class="nav__item">
                <a href="/clientes/carrinho" class="carrinho">
                    <p>Carrinho</p>
                    <img src="/imagens/icone-carrinho.svg" alt="Ãcone do carrinho" class="carrinho__icon" />
                </a>
            </li>
        </ul>
    </nav>
</div>