<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Painel do Estoquista</title>
    <link rel="stylesheet" href="/css/estilos-globais.css">
    <link rel="stylesheet" href="/css/estilos-painel-estoquista.css">
</head>
<body>

<!-- Navbar -->
<nav class="navBarra">
    <a href="/backoffice/estoquista/" class="logoNavegacao">
        <img src="/imagens/logo-horizontal.svg" alt="Logo do site">
    </a>
</nav>

<div class="container">
    <h1>Bem-vindo, Estoquista!</h1>
    <p>Escolha uma ação abaixo:</p>

    <div class="menu">
        <a href="/backoffice/estoquista/listar-produtos">📦 Listar Produtos</a>
    </div>
</div>

</body>
</html>
